<!DOCTYPE html>
<html>
<head>
	<title>Time Stamp API</title>
</head>
<body>
	<h1>Time Stamp API</h1>
	<p>This API will return JSON data of the input in the url converted to nutral date and unix date.</p>
	<h3>Example</h3>
	<p>nutral date:https://time-stamp1.herokuapp.com/December%2015,%202015</p>
	<p>unix date:https://time-stamp1.herokuapp.com/1450137600</p>
	<br />
	<p>output:{"unix":1450137600,"natural":"December 15, 2015"}</p>
	<br />
	<h6>Written by Abdulrahman Algedarey</h6>
</body>
</html>